---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=invalid_token&fields=id,first_name,last_name,email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"CDrZg9hHvcs"}}'
  recorded_at: Sun, 24 Sep 2017 21:11:37 GMT
recorded_with: VCR 3.0.3
